<a href="https://colab.research.google.com/github/DanielHFMacedo/Python-3-Data-Science-e-Machine-Learning-Prof-Camila-Dantas-Escola-Fuctura-de-Tecnologia/blob/main/Py3_Aula4_Introdu%C3%A7%C3%A3o_a_Data_Science_e_Machine_Learning(parte2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm 
sns.set_style("darkgrid")
import warnings
warnings.filterwarnings("ignore")

In [5]:
dados=pd.read_csv('Tetuan City power consumption.csv')

In [6]:
dados.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [8]:
dados.shape

(52416, 9)

In [12]:
dados.describe

<bound method NDFrame.describe of                DateTime  Temperature  Humidity  Wind Speed  \
0         1/1/2017 0:00        6.559      73.8       0.083
1         1/1/2017 0:10        6.414      74.5       0.083
2         1/1/2017 0:20        6.313      74.5       0.080
3         1/1/2017 0:30        6.121      75.0       0.083
4         1/1/2017 0:40        5.921      75.7       0.081
...                 ...          ...       ...         ...
52411  12/30/2017 23:10        7.010      72.4       0.080
52412  12/30/2017 23:20        6.947      72.6       0.082
52413  12/30/2017 23:30        6.900      72.8       0.086
52414  12/30/2017 23:40        6.758      73.0       0.080
52415  12/30/2017 23:50        6.580      74.1       0.081

       general diffuse flows  diffuse flows  Zone 1 Power Consumption  \
0                      0.051          0.119               34055.69620
1                      0.070          0.085               29814.68354
2                      0.062          0.100               29128.10127
3                      0.091          0.096               28228.86076
4                      0.048          0.085               27335.69620
...                      ...            ...                       ...
52411                  0.040          0.096               31160.45627
52412                  0.051          0.093               30430.41825
52413                  0.084          0.074               29590.87452
52414                  0.066          0.089               28958.17490
52415                  0.062          0.111               28349.80989

       Zone 2  Power Consumption  Zone 3  Power Consumption
0                    16128.87538                20240.96386
1                    19375.07599                20131.08434
2                    19006.68693                19668.43373
3                    18361.09422                18899.27711
4                    17872.34043                18442.40964
...                          ...                        ...
52411                26857.31820                14780.31212
52412                26124.57809                14428.81152
52413                25277.69254                13806.48259
52414                24692.23688                13512.60504
52415                24055.23167                13345.49820

[52416 rows x 9 columns]>

In [13]:
dados.columns= ['Data', 'Temperature', 'Humidity', 'Wind_speed', 'general_diffuse_flows', 'diffuse_flows', 'Consumption', 'Consumo1', 'Consumo2']

In [14]:
dados.drop(columns=["Data", 'Consumo2', 'Consumo1'], inplace=True)

In [15]:
dados.columns

Index(['Temperature', 'Humidity', 'Wind_speed', 'general_diffuse_flows',
       'diffuse_flows', 'Consumption'],
      dtype='object')

In [17]:
dados.describe().round(2)

,Temperature,Humidity,Wind_speed,general_diffuse_flows,diffuse_flows,Consumption
count,52416.00,52416.00,52416.00,52416.00,52416.00,52416.00
mean,18.81,68.26,1.96,182.70,75.03,32344.97
std,5.82,15.55,2.35,264.40,124.21,7130.56
min,3.25,11.34,0.05,0.00,0.01,13895.70
25%,14.41,58.31,0.08,0.06,0.12,26310.67
50%,18.78,69.86,0.09,5.04,4.46,32265.92
75%,22.89,81.40,4.92,319.60,101.00,37309.02
max,40.01,94.80,6.48,1163.00,936.00,52204.40

In [18]:
dados.cov()

,Temperature,Humidity,Wind_speed,general_diffuse_flows,diffuse_flows,Consumption
Temperature,33.819759,-41.623221,6.517185,707.755815,141.956786,1.825491e+04
Humidity,-41.623221,241.839112,-4.962395,-1924.864643,-496.208215,-3.187168e+04
Wind_speed,6.517185,-4.962395,5.517152,83.053776,-0.283596,2.804472e+03
general_diffuse_flows,707.755815,-1924.864643,83.053776,69907.867473,18546.168144,3.543748e+05
diffuse_flows,141.956786,-496.208215,-0.283596,18546.168144,15428.359933,7.109811e+04
Consumption,18254.905891,-31871.680151,2804.471792,354374.839451,71098.111241,5.084492e+07